[CAPTURE] #キャプチャ画像のパス
img_pass = /cap_git/images
min_img_pass = /cap_git/min_image

[RESIZE] #tinypngのAPIキー
tiny_key = hogehoge

[WRITE] #csv書き込みの設定
init_row = post_title,post_category,capture,url,post_type,post_status
post_type = post
post_status = publish
up_address = http://test/wp-content/themes/test/dist/images/

[UPLOAD] #wordpressのログイン情報などなど
login_url = http://test/wp-login.php
login_id = hoge
login_pass = hogehoge
import_url = http://test/wp-admin/admin.php?import=csv
img_up_pass = http://test/wp-content/themes/sage-8.5/dist/images
